
# Database Configuration (runner)
DB_TYPE=sqlite
DB_TYPE=/app/data/cots.db
#DATABASE_URL=postgres://cots:cots_password@postgres:5432/cots

#Frontend (From browser perspective)
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_INNGEST_URL=http://localhost:8288

# Inngest Configuration (optional for dev)
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=

CORS_ORIGIN=http://localhost:3000
